@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Back from bank</h1>


<p>URL = @ViewBag.finalizeUrl</p>

<p><a href="@ViewBag.finalizeUrl">@ViewBag.finalizeUrl</a></p>